{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block jumbotron %}
<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Contratación de Cafeteros</h1>
        <p>Sistema de contratación de personas recolectoras de café.</p>
        <!--<p>To see the difference between static and fixed top navbars, just scroll.</p>-->
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Mas información &raquo;</a>
        </p>
      </div>
{% endblock%}

{% block content %}
<div class= 'col-sm-4 col-sm-offset-4'>
  <h4> Inicio de Sección </h4>
  <form method="POST">{% csrf_token %}
  {{ login_super_user|crispy }}
  <input class='btn btn-primary' type="submit" value="Iniciar Sección" style="width: 360px; height: 40px"><br>
  <br>
  <p><strong> Iniciar con: </strong></p>
  <a href="{% url 'social:begin' 'facebook' %}"><img src="{% static 'img/fb.jpg' %}"/></a>
  <a href="{% url 'social:begin' 'google-oauth2' %}">  <img src="{% static 'img/g.jpg' %}"/></a>
  </form>
</div>

{% endblock %}

