{% extends "base.html" %}

{% block jumbotron %}
  <div class="container">
<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Contratación de Cafeteros</h1>
        <p>Sistema de contratación de personas recolectoras de café.</p>
        <!--<p>To see the difference between static and fixed top navbars, just scroll.</p>-->
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Mas información &raquo;</a>
        </p>
      </div>
  </div> <!-- /container -->
{% endblock %}